/* ----------------------- IMPORTS ----------------------------- */

@import '../foundation/animations';
@import '../foundation/colors';
@import '../foundation/fonts';
@import '../foundation/loader';
@import '../foundation/general';
@import '../foundation/d3';

/* ----------------------- PLACEHOLDERS ----------------------------- */

// General styling for each of the two date selection blocks
%dateBlock
{
	border:
	{
		style: double;
		width: 5px;
		color: map-get($COLORS, grayTheme);
	}

	padding: 20px;

	@media only screen and (max-device-width: 480px)
	{
		border-style: solid;
	}
}

/* ----------------------- STYLES ----------------------------- */

#header
{
	@extend %h3;
}

#pageDescription, #serverError, #resultsContainer
{
	@extend %regularText;

	width: 90%;

	margin-left: auto;
	margin-right: auto;
}

#dateInputContainer
{
	text-align: center;

	& > span
	{
		display: inline-block;
		width: 45%;

		@media only screen and (max-device-width: 1024px)
		{
			width: auto;
			display: block;
		}
	}

	select
	{
		@extend %formSelectText;

		padding-left: 10px;

		& > option
		{
			padding-left: 10px;
		}
	}
}

#beginningDate
{
	@extend %dateBlock;

	border-left: none;

	@media only screen and (max-device-width: 1024px)
	{
		border-right: none;
		border-bottom-width: 2.5px;
	}
}

#endingDate
{
	@extend %dateBlock;

	border-right: none;

	@media only screen and (max-device-width: 1024px)
	{
		border-left: none;
		border-top-width: 2.5px;
	}
}

.labelHeader
{
	@extend %formSectionHeaderText;

	width: 100%;
	display: inline-block;

	text-align: center;
}

#beginningDateSelectorContainer, #endingDateSelectorContainer
{
	margin-top: 6px;
}

#beginningMonthSelector, #endingMonthSelector
{
	width: 60%;
	margin-right: 8px;
}

#beginningYearSelector, #endingYearSelector
{
	width: 30%;
	margin-left: 8px;
}

.submitButtonRow
{
	display: inline-block;
	width: 100%;

	text-align: center;

	& > span
	{
		width: 200px;
		height: 40px;

		margin-top: 25px;
		display: inline-block;

		&[data-hint]:before, &[data-hint]:after
		{
			@extend %tooltipText;
		}
	}
}

#selectedDates
{
	margin:
	{
		bottom: 25px;
	}

	display: block;
	width: auto;

	text-align: center;

	@media only screen and (max-device-width: 1024px)
	{
		display: none;
	}

	& > span
	{
		@extend %formLabelText;

		display: inline-block;
		width: 150px;
	}
}

#dateRangeDash
{
	margin:
	{
		left: 15px;
		right: 15px;
	}

	border:
	{
		width: 1px;
		style: solid;
		radius: 10px;
		color: map-get($COLORS, darkGrayTheme)
	}

	display: inline-block;
	width: 300px;
}

#dateRangeSubmit
{
	@extend %buttonText;
	@include transitionSettings($property: opacity, $duration: 0.2s);

	border:
	{
		style: solid;
		width: 2px;
		radius: 10px;
		color: map-get($COLORS, blackTheme);
	}

	width: 100%;
	display: inline-block;

	background-color: map-get($COLORS, darkBlueTheme);
	cursor: pointer;
	position: relative;

	&:disabled
	{
		opacity: 0.3;

		cursor: default;
	}
}

#resultsContainer
{
	@include transitionSettings($property: opacity, $duration: 0.2s);

	margin-top: 10px;
	padding: 10px;
	text-align: center;

	opacity: 0.0;

	&.show
	{
		opacity: 1.0;
	}
}

#serverError
{
	@include transitionSettings($property: opacity, $duration: 0.2s);

	position: relative;
	margin-top: 20px;
	width: 250px;

	opacity: 0.0;

	&.show
	{
		opacity: 1.0;
	}

	& > span
	{
		width: 250px;
		height: 100px;

		position: absolute;
	}
}

#rawDataTable
{
	margin-right: 40px;

	@media only screen and (max-device-width: 1024px)
	{
		margin-right: 0px;
	}
}

#perCapitaTable
{
	margin-left: 40px;

	@media only screen and (max-device-width: 1024px)
	{
		margin-left: 0px;
	}
}

#rawDataTable, #perCapitaTable
{
	border:
	{
		style: solid;
		width: 2px;
		color: map-get($COLORS, darkGrayTheme);
		radius: 10px;
		spacing: 0;
	}

	width: 30%;
	display: inline-table;
	table-layout: fixed;

	@media only screen and (max-device-width: 727px)
	{
		width: auto;

		margin:
		{
			top: 15px;
			bottom: 15px;
		}
	}
	@media only screen and (max-device-width: 1024px) and (orientation: portrait)
	{
		width: auto;

		margin:
		{
			top: 15px;
			bottom: 15px;
		}
	}

}

thead
{
	display: block;
}

tbody
{
	display: block;

	overflow-y: auto;
	height: 300px;

	@media only screen and (max-device-width: 727px)
	{
		overflow-y: visible;
		height: auto;
	}

	& > tr:hover
	{
		background-color: map-get($COLORS, blueTheme);
	}
}

tr
{
	display: block;
}

.tableRowOdd
{
	background-color: map-get($COLORS, lightBlueTheme);
}

.tableHeader > th
{
	@extend %tableTitle;

	border:
	{
		style: solid;
		width: 0px;
		color: map-get($COLORS, darkGrayTheme);

		top-right-radius: 5px;
		top-left-radius: 5px;
	}

	text-align: center;
	vertical-align: middle;

	display: inline-block;
	padding-top: 10px;
	height: 50px;
	width: 100%;

	background-color: map-get($COLORS, darkGreenTheme);
}

.columnHeader > th
{
	@extend %columnHeader;
	@include transitionSettings($property: all, $duration: 0.1s);

	background-color: map-get($COLORS, lightGrayTheme);
	vertical-align: middle;

	display: table-cell;
	padding-top: 5px;
	height: 30px;

	cursor: pointer;

	&:active
	{
		background-color: map-get($COLORS, darkGrayTheme);
	}

	&:first-child
	{
		border-right:
		{
			style: solid;
			width: 1px;
			color: map-get($COLORS, darkGrayTheme);
		}

		width: 60%;
	}

	&:last-child
	{
		width: 1000px;

		&.hint--top::after
		{
			white-space: normal;
			width: 200px;
		}
	}

	& > .fa-question-circle
	{
		padding-left: 8px;
		color: map-get($COLORS, darkerBlueTheme);
	}

	& > .fa-chevron-circle-down
	{
		@include transitionSettings($property: opacity, $duration: 0.2s);

		padding-right: 8px;
		color: map-get($COLORS, darkBlueTheme);
		opacity: 0.0;

		&.show
		{
			opacity: 1.0;
		}
	}
}

// Styling for the data cells
td
{
	@extend %dataCell;

	vertical-align: middle;

	display: table-cell;

	&:first-child
	{
		text-align: left;
		padding-left: 10px;
		width: 60%;

		@media only screen and (max-device-width: 1024px) and (orientation: landscape)
		{
			text-align: center;
		}
	}

	&:last-child
	{
		text-align: right;
		padding-right: 10px;
		width: 1000px;

		@media only screen and (max-device-width: 1024px) and (orientation: landscape)
		{
			text-align: center;
		}
	}
}

#mapDiagramSubtext
{
	@extend %regularText;

	margin:
	{
		top: 35px;
		bottom: 10px;
	}

	text-align: center;
}

// Basic styling for the maps
#mapDiagramContainer
{
	text-align: center;
}

// Styling for the states in the D3 map
.stateBoundaryInterior
{
	stroke: map-get($COLORS, blackTheme);
	stroke-width: 0.5;
	fill: none;
}

// Styling for the map metadata container
#mobileStateDataContainer, #desktopStateDataContainer
{
	margin:
	{
		top: 30px;
		bottom: 10px;
	}

	padding: 10px;

	text-align: center;

	width: 90%;
	display: none;
}

#mobileStateDataContainer
{
	border:
	{
		style: solid;
		width: 1px;
		radius: 10px;
		color: map-get($COLORS, grayTheme);
	}

	@media only screen and (max-device-width: 1024px)
	{
		display: block;
	}
}

#desktopStateDataContainer
{
	@media only screen and (min-device-width: 1025px)
	{
		display: block;
	}
}